<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Customer</title>
	</head>
	<style>
	.customer {
		width: 350px;
		margin: 0 auto;
		margin-top : 220px;
		font-family: sans-serif;
		}
		.customer h1 {
		text-align: left;
		color: #4d4d4d;
		font-size: 40px;
		padding: 20px 0 20px 0;
		}

		.customer input[type=button]{
		width: 100%;
		padding: 15px;
		background-color: #20B2AA;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		font-weight: bold;
		color: #ffffff;
		margin-top: 40px;
		margin-bottom: -20px;
		}

		.customer input[type=button]:hover {
			background-color: #20B2AA;
			color: white;
		}
		hr.line {
			border-top: 1.5px solid #20B2AA;
		margin-bottom: 20px;
		margin-top: -40px;
		}
		a {
		  background-color: #20B2AA;
		  color: white;
		  padding: 1em 1.5em;
		  text-decoration: none;
		  text-transform: uppercase;
			margin-left : 120px;
		}
	</style>
	<body>
		<div class="customer">
			<h1>Welcome <%= uname %></h1>
			<hr class="line">
			<h1>Hello customer. Happy Shopping!!</h1>
      <form action="" method="post">
        <a href='/logout'>Logout</a>
      </form>

		</div>
	</body>
</html>
