<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Resgistration</title>
	</head>
	<style>
	.reg {
		width: 350px;
		margin: 0 auto;
		margin-top : 80px;
		font-family: sans-serif;
		}
		.reg h1 {
		text-align: left;
		color: #4d4d4d;
		font-size: 40px;
		padding: 20px 0 20px 0;
		}
		.reg input[type="text"], input[type="password"]{
		width: 100%;
		padding: 15px;
		border: 1px solid #dddddd;
		margin-bottom: 15px;
		box-sizing:border-box;
		}

		.reg [type="submit"] {
		width: 100%;
		padding: 15px;
		background-color: #20B2AA;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		font-weight: bold;
		color: #ffffff;
		margin-top: 40px;
		margin-bottom: 30px;
		margin-bottom: -20px;
		}

		.reg [type="submit"]:hover {
			background-color: #20B2AA;
			color: white;
		}
		.reg [type="button"] {
		width: 100%;
		padding: 15px;
		background-color: #20B2AA;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		font-weight: bold;
		color: #ffffff;
		margin-bottom: -20px;
		}

		.reg [type="button"]:hover {
			background-color: #20B2AA;
			color: white;
		}
		hr.line {
			border-top: 1.5px solid #20B2AA;
		margin-bottom: 30px;
		margin-top: -40px;
		}


		.dropdown {
			position: relative;
		font-family: sen-serif;
			width: 100%;
		padding: 12px;
		margin-bottom: 15px;
		border: 1px solid #dddddd;
		box-sizing:border-box;
		}

		.dropdown select {
		display: none;
		}

		.select-selected {
		background-color: DodgerBlue;
		}

		.select-selected:after {
		position: absolute;
		content: "";
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
		}

		.select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
		}

		.select-items div,.select-selected {
		color: #ffffff;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
		}

		.select-items {
		position: absolute;
		background-color: DodgerBlue;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		}

		.select-hide {
		display: none;
		}

		.select-items div:hover, .same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
		}
	</style>
	<body>
		<div class="reg">
			<h1 style="margin-top: -20px;">Resgistration</h1>
			<hr class="line">
      <form name = "reg" action="/registration" method="POST" onsubmit="return validation();">
					<input type="text" placeholder="Enter Id" name="id" id="id">
          <input type="text" placeholder="Enter Name" name="name" id="name" ><span style="color: red;" id="er_name"></span>
					<input type="text" placeholder="Enter UserName" name="uname" id="uname" ><span style="color: red;" id="er_uname"></span>
          <input type="text" placeholder="Enter Phone" name="phone" id="phone" ><span style="color: red;" id="er_phn"></span>
					<input type="password" placeholder="Enter Password" name="password" id="password" ><span id="er_pass" style="color: red;"></span>
          <hr>
          <input type="submit" name="reg" class="reg" value="Register">
          <h4>Already Registered?</h4>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Login" onclick="window.location.href='/login';">
      </form>
		</div>
	</body>
</html>

<script>
function validation(){
	var name = document.forms["reg"]["name"].value;
	var uname = document.forms["reg"]["uname"].value;
	var phone = document.forms["reg"]["phone"].value;
	var pass = document.forms["reg"]["password"].value;
	var pa = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;

	if(name == "")
	{
		document.getElementById("er_name").innerHTML = "Please enter Name.";
		return false;
	}
	if(uname.length < 8)
	{
		document.getElementById("er_uname").innerHTML = "UserName must have at least 8 charaters";
		return false;
	}
	if(phone.length < 11)
	{
		document.getElementById("er_phn").innerHTML = "Phone must have at least 11 Numbers";
		return false;
	}
	if(pass == "")
	{
		document.getElementById("er_pass").innerHTML = "Please enter password.";
		return false;
	}
	if(!pass.match(pa))
	{
		document.getElementById("er_pass").innerHTML = "Please enter valid password.";
		return false;
	}
}

document.getElementById('id').value = Math.floor(Math.random() * 10 + 12);
</script>
